.sans-serif.w-100.overflow-x-hidden
  .w-100.pv3.ph3.ph5-ns.bb.b--black-10.dt.dt--fixed
    .dtc.v-mid.w-20
      p.mb0.b.tracked-tight Contextual
    .dtc.v-mid.w-80.tr
      ul.list.pl0.ma0.f7.ttu.b
        li.dib
          a.link.dim.indigo.pa2(href='http://beta.getcontextual.com') Sign in 
        li.dib.ml4 
          a.br1.bg-indigo.pv2.ph3.white.b.pointer.dim.nowrap.link(href='#beta-access') Get beta &rarr;
  .w-100.min-vh-100
    .mw8.center.ph4.pt5
      .measure-wide.center.tc.mb5
        h1.f3.f2-ns.lh-title Do the right task‚ at the right time.
        p.lh-copy.mb5.georgia.o-70 Contextual keep you focused by showing you only tasks that you need to do—depending on where you are, and how much energy you have.
        a(href='#inbox').f6.dib.pv3.ph4.br1.bg-indigo.white.ttu.tracked.b.pointer.dim.link Learn more &darr;
    .mw8.center.ph2
      img.db.w-100.bg-black-20.shadow-big.br1.br-top.overflow-hidden(src='/assets/ctx-landing.png')
  .w-100.bg-indigo.white.overflow-hidden.inset-shadow-big#inbox
    .mw8.center.cf.pv5.pv6-ns.ph4
      .fl.w-100.w-50-ns.relative.h1-ns.dn.db-ns
        .relative.absolute-ns.right-0.right-2-ns.shadow-big.display-ss(style='top: -3rem;')
          img.w-100(src='/assets/ctx-inbox.png')
      .fl.w-100.w-50-ns
        h2.f3.f2-ns.lh-title.white.o-90 Add it to the inbox.
        .lh-copy.o-70.georgia
          p.white Your headspace is finite resource: stop relying to it to remember your tasks. Instead, dump everything on The inbox to be processed later.
  .w-100
    .mw9.center.pt5.pt6-ns.pb5.ph4
      .measure-wide.center.mb5.tc.mb5
        h2.f3.f2-ns.lh-title Process each task. Assign the right project, context, and energy.
        p.lh-copy.georgia.o-70 These three areas will keep you organized.
      .cf
        .fl.w-100.w-100-m.w-third-ns.pa4-ns.ph2.pv4.bb.bb-m.b--black-10.bw0-ns
          i.f3.f2-ns.fa.fa-briefcase.mb3.indigo.o-70
          h2.f6.ttu.b Step 1: Add tasks to a Project
          p.lh-copy.mb1 You're going to remodel your kitchen. It's a project that have many smaller tasks. So, you'll add:
          ul.pa4.bg-list
            li.lh-copy.mb1 Call Greg to consult about kitchen remodel,  
            li.lh-copy.mb1 buy 20L bucket,
            li.lh-copy.mb1 move car from the garage.
          p To 
            span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code kitchen remodel
            |  project.
        .fl.w-100.w-100-m.w-third-ns.pa4-ns.ph2.pv4.bb.bb-m.b--black-10.bw0-ns
          i.f3.f2-ns.fa.fa-compass.mb3.indigo.o-70
          h2.f6.ttu.b Step 2: Add relevant Context
          p.lh-copy Context helps you to 
            em.georgia.o-60 filter 
            | the right task, at the right time.
          ul.pa4.bg-list
            li.lh-copy.mb2 Call Greg to consult about kitchen remodel &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @Phone
            li.lh-copy.mb2 buy 20L bucket &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @Errands
            li.lh-copy.mb2 Move car from the garage &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @Home
        .fl.w-100.w-100-m.w-third-ns.pa4-ns.ph2.pv4.bb.bb-m.b--black-10-ns.b--transparent.bw0-ns
          i.f3.f2-ns.fa.fa-bolt.mb3.indigo.o-70
          h2.f6.ttu.b Step 3: Assign energy needed
          p.lh-copy Energy helps you to filter tasks based on your willpower at the time.
          ul.pa4.br1.bg-list
            li.lh-copy.mb2 Call Greg to consult about kitchen remodel &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code full focus
            li.lh-copy.mb2 buy 20L bucket &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code under 5 minutes
            li.lh-copy.mb2 Move car from the garage &rarr; 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code medium energy
    .ph4.ph6-ns
      .bb.b--black-10
  .w-100
    .mw8.center.cf
      .fl.w-100.w-50-ns.pv5.ph4
        .mb5
          div.mb3
            h2.f3.f2-ns.mb1 Start Getting Focused
          p.georgia.measure.lh-copy.o-70.mb2 Being overwhelmed from reading unrelevant tasks is not cool. Contextual will show you only the relevant one.
        ul.measure.lh-copy.mb4.pa4.bg-list
          li.mb4 
            p.mb1.b Just got home and tired? 
            p.georgia Set context to 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @home
              |  and energy to 
              span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code under 5 minutes
          li.mb4 
            p.mb1.b Just got to office and feeling focused? 
            p.georgia Set context to 
                span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @work
                |  and energy to 
                span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code full focus
          li.mb4 
            p.mb1.b Queueing at your dentist and have time for short call?
            p.georgia Set context to 
                span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code @phone
                |  and energy to 
                span.pv1.ph2.br1.bg-indigo.white.b.nowrap.f6.lh-solid.code medium energy
      .fl.w-100.w-50-ns.pa0.pl5-ns.pt6-ns.relative
        .relative.absolute-ns.shadow-big.display-ss
          img.w-100.db(src='/assets/ctx-focus.png')
  .w-100.bg-indigo.white#beta-access
    .mw8.center.pv5.ph4
      .tc
        h2.f3.f2-ns.white.lh-title.mb3 Ready to be more focused? 
        p.georgia.white.o-80.lh-copy Get beta access by sending an email to 
          a.white.dim(href='mailto:hello@philipyoungg.com?subject=Contextual Beta Access') hello@philipyoungg.com 
          | or DM me on  
          a.white.dim(href="https://www.twitter.com/philipyoungg" target='_blank') twitter.
          br
          | p.s. Slack account is needed for feedback
      //- form
      //-   input.input-reset.pa3.mr3.mb3.bw0.w-100.w5-ns(placeholder='name')
      //-   input.input-reset.pa3.mr3.mb3.bw0.w-100.w5-ns(placeholder='email')
      //-   button.pv3.ph4.pointer.dim.bw1.b.ttu.f6.b--near-white.bg-transparent.near-white.br1 Request beta access &rarr;
      
    
    
