section
    .mw8.center.ph4.pt5.pb3
        .measure-wide.center.tc
            h1.f2.f1-ns.tracked-tight.lh-title.mb2 Let's get focused!
            p.lh-copy.mb5.georgia.o-80 Get a plan that suits your need :)
section.tc.mb5
    .dib.ph3.ph4-ns.cf
        .fl.w-100.w5-l.pt4.bg-white.ba.b--black-10.br1.mh2-ns.mb3(style='box-shadow: 0 1px 2px rgba(0,0,0,0.05);')
            .tl.tc-l.mb4.ph4
                h2.f2.mb2.mr4.mr0-l Starter
                div
                    p.f-subheadline.georgia.o-50.mb2.b.f2-l $0
                    p.f7.i.o-70 forever
            .tl.tc-l.ph4.mb4
                a.link.f6.dib.pv2.ph3.br1.bg-indigo.white.ttu.tracked.b.pointer.dim.link(href='https://beta.getcontextual.com/#/signup' onclick='ga("send", "event", "pricing", "click", "soft launching", "starter")') Sign up!
            ul.tl.f6.lh-copy.b--black-05.bt.pv4.ma0
                li.mb2 Unlimited to do
                li.mb2 Focus view
                li.mb2 5 project
                li.mb2 Pre-defined context
        .fl.w-100.w5-l.pt4.bg-white.ba.b--black-10.br1.mh2-ns.mb3(style='box-shadow: 0 1px 2px rgba(0,0,0,0.05);')
            .tl.tc-l.mb4.ph4
                h2.f2.mb2.mr4.mr0-l Premium
                div
                    p.f-subheadline.georgia.o-70.mb2.b.f-subheadline $15
                    p.f7.i.o-70 per year (for 100 first customer)
                    p.f7.georgia.mt3.o-50 promo price
            .tl.tc-l.ph4.mb4
                a.link.f6.dib.pv2.ph3.br1.bg-indigo.white.ttu.tracked.b.pointer.dim(href='mailto:hello@philipyoungg.com?Subject=Premium%20plan%20for%20Contextual%21&Body=Hello%20Philip%21%0A%0AI%20am%20interested%20to%20get%20premium%20feature%20for%20Contextual%20%3A%29.%0A%0AName%3A%0AEmail%3A' onclick='ga("send", "event", "pricing", "click", "soft launching", "premium--grandfathered")') Upgrade!
            ul.tl.f6.lh-copy.b--black-05.bt.pv4.ma0
                li.mb2 Unlimited to do
                li.mb2 Focus view
                li.mb2 Unlimited project
                li.mb2 Custom context
                li.mb2 Unlimited context
                li.mb2 History and analytics (coming soon!)
        .fl.w-100.w5-l.pt4.bg-white.ba.b--black-10.br1.mh2-ns.mb3(style='box-shadow: 0 1px 2px rgba(0,0,0,0.05);')
            .tl.tc-l.mb4.ph4
                h2.f2.mb2.mr4.mr0-l Premium
                div
                    p.f-subheadline.georgia.o-50.mb2.b.f2-l.strike $29
                    p.f7.i.o-70 per year
                    p.f7.georgia.mt3.o-50 or $10 monthly
            .tl.tc-l.ph4.mb4
                a.link.f6.dib.pv2.ph3.br1.bg-indigo.white.ttu.tracked.b.pointer.dim(disabled href='mailto:hello@philipyoungg.com?Subject=Premium%20plan%20for%20Contextual%21&Body=Hello%20Philip%21%0A%0AI%20am%20interested%20to%20get%20premium%20feature%20for%20Contextual%20%3A%29.%0A%0AName%3A%0AEmail%3A' onclick='ga("send", "event", "pricing", "click", "soft launching", "premium")') Upgrade!
            ul.tl.f6.lh-copy.b--black-05.bt.pv4.ma0
                li.mb2 Unlimited to do
                li.mb2 Focus view
                li.mb2 Unlimited project
                li.mb2 Custom context
                li.mb2 Unlimited context
                li.mb2 History and analytics (coming soon!)

                